##-----------------------------------------------------------------------------
## Project    : NetFPGA-NewNIC
## File       : top.ucf
#
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

CONFIG PART = xc5vtx240t-ff1759-2;

###############################################################################
# User Time Names / User Time Groups / Time Specs
###############################################################################

# CONFIG STEPPING = "ES" ;

###############################################################################
# User Physical Constraints
###############################################################################


###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#NET "sys_reset_n"      LOC = "AR8"  | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;	// MF: no reset available

NET  "sys_clk_p"       LOC = "AT4"  ;
NET  "sys_clk_n"       LOC = "AT3"  ;
INST "naas_dma_mod/refclk_ibuf"     DIFF_TERM = "TRUE" ;

# PCIe Lanes 0, 1
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTX_DUAL_X1Y5;
# PCIe Lanes 2, 3
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTX_DUAL_X1Y4;
# PCIe Lanes 4, 5
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTX_DUAL_X1Y3;
# PCIe Lanes 6, 7
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTX_DUAL_X1Y2;

###############################################################################
# Physical Constraints
###############################################################################

# Xilinx PCIe endpoint BlockRAM placement
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X5Y20;
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y19;
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X5Y18;
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y17;
INST "naas_dma_mod/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X5Y16;

###############################################################################
# Timing Constraints
###############################################################################

# Timing requirements and related constraints.
NET "naas_dma_mod/sys_clk_c"                                      PERIOD = 10ns;

NET "naas_dma_mod/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "MGTCLK" ;

TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

###############################################################################
# End
###############################################################################
